  /* shared style */
  body{
    font-family: 'Open Sans', sans-serif;
  }

  .text-primary{
    color: #FD6E0A;
  }
  .btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color:wheat;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
  }
/* NAv relatet stylr */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-titem{
    color:#000;
    font-size: 45px;
    font-weight: 800px;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}
/* header style */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding:30px  30px 30px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}